<section class="galerias-form-section">
  <%= form_with(model: galerium) do |form| %>

    <% if galerium.errors.any? %>
      <div class="form-errors-card">
          <div style="color: red">
            <h2><%=galerium.errors.count == 1 ? "Erro encontrado" : "Erros encontrados"%>. Não foi possível realizar a ação.</h2>

            <ul>
              <% galerium.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
      </div>
    <% end %>
    <div class="form-inputs-card <%=galerium.errors.count == 0 ? "slideInFromBottom" : "notAnimate"%>  <%=galerium.errors.count%>">
        <div class="form-input">
          <%= form.label :title, class: "input-label" %>
          <%= form.text_field :title, class:"input-field" %>
        </div>

        <div class="form-input">
          <%= form.label :description, class: "input-label" %>
          <%= form.text_area :description,class:"input-field"  %>
        </div>

        <div class="form-input">
          <%= form.label :imagens, class: "input-label" %>
          <%= form.file_field :imagens, multiple: true, class:"input-field"  %>
        </div>

        <div class="form-input">
          <%= form.label :data_comemorativa, class: "input-label" %>
          <%= form.date_field :data_comemorativa, class:"input-field"  %>
        </div>

        <div class="form-input">
          <%= form.submit "Enviar"%>
        </div>
      <% end %>
    </div>
</section>

