<section class="galerias-form-section">
  <%= form_with(model: galerium) do |form| %>
    <div class="form-inputs-card <%=galerium.errors.count == 0 ? "slideInFromBottom" : "notAnimate"%>">
        <div class="form-input">
        <p class="form-error-message"><%= galerium.errors.count > 0 ? "Os campos sinalizados não podem estar em branco!" : ""%></p>
          <%= form.label :title, "Título:", class: "input-label" %>
          <%= form.text_field :title, class: galerium.errors.where(:title) != [] ? "input-field error" : "input-field" %>
        </div>

        <div class="form-input">
          <%= form.label :description,"Descrição:" , class: "input-label" %>
          <%= form.text_area :description,class:galerium.errors.where(:description) != [] ? "input-field error" : "input-field"  %>
        </div>

        <div class="form-input">
          <%= form.label :imagens,"Imagens:", class: "input-label" %>
          <%= form.file_field :imagens, multiple: true, class: galerium.errors.where(:imagens) != [] ? "input-field error" : "input-field"  %>
        </div>

        <div class="form-input">
          <%= form.label :data_comemorativa,"Data comemorativa:", class: "input-label" %>
          <%= form.date_field :data_comemorativa, class: galerium.errors.where(:data_comemorativa) != [] ? "input-field error" : "input-field" %>
        </div>

        <div class="form-input">
          <%= form.submit "Enviar"%>
        </div>
      <% end %>
    </div>
</section>

