<section id="<%= dom_id galerium %>-header-section" class="header-section">
  <h1><%= galerium.title %></h1>
  <p> <%= galerium.description %> </p>
  <p class=".galeria-data-comemorativa-header"> <%= galerium.data_comemorativa.strftime("%d/%m/%Y") %> </p>
  <span class="editar"><%= link_to "Editar", edit_galerium_path(@galerium) %></span>
  <span class="voltar"><%= link_to "<- Voltar", galeria_path %></span>
  <%= button_to "Deletar", @galerium, method: :delete, class: "deletar" %>
  </div>
</section>

<section class="images-section">
  <ul class="images-list">
    <% galerium.imagens.each do |imagem| %>
      <li class="image-item">
          <h1> <%imagem.filename%></h1>
        <div class="image-card">
          <img class="image" src="/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--ec33fcfee19736d52159bc22a62bf30c3dea4cc8/<%=imagem.filename%>"/>
        </div>
      </li>
    <% end %>
  </ul>
</section>