<p style="color: green"><%= notice %></p>

<%= render @galerium %>

<div>
  <%= link_to "Edit this galerium", edit_galerium_path(@galerium) %> |
  <%= link_to "Back to galeria", galeria_path %>

  <%= button_to "Destroy this galerium", @galerium, method: :delete %>
</div>
